/* colors */
$color_text: #232323;
$input_border_color: #dedede;
$button_color: #e76135;
$border_color: #f5f5f5;
$body_background: #f5f7f6;
$color_accept: #2bb673;
$color_decline: #de495b;
$color_orange: #e76135;
$color_black: #111111;

/* borders */
$input_border_radius: 4px;

/* window width */
$window_width_l1: 825px;
$window_width_l2: 750px;
$window_width_l3: 400px;

/* sizes */
$head_height: 74px;
