.item {
    border-radius: 10px;
    overflow: hidden;
    background-color: $white;

    img {
        height: 245px;
        object-fit: cover;
        width: 100%;
    }
    &>a {
        display: block;
        position: relative;
        height: 245px;
        background-size: auto 100%;
        background-position: center center;
        transition: background-size 0.2s ease-in;
        width: 100%;
        &:hover{
            background-size: auto 103%;
            &:after{
                display: block;
                background: #000;
                position: absolute;
                width: 100%;
                height: 100%;
                content: '';
                opacity: 0.3;
                background: #000 url('/images/icons/find_plus.png') no-repeat center center;
            }
        }
    }

    &-content {
        padding: 0 50px;
        color: #bbb5c2;
        height: 90px;

        a{
            color: #bbb5c2;
        }

        p {
            margin: 0px;
        }

        h6 {
            color: #5c5453;
            font-size: 22px;
            margin: 0;
            padding: 30px 0px 15px 0px;
        }
    }

    &-icon {
        img {
            width: auto;
            height: 100px;
            object-fit: inherit;
            padding-left: 20px;
        }
    }
}
