
$label-color: #212529;
$label-fz: 14px;
$label-weight: normal;
$error-color: red;
$danger-color: red;

button{
  @include border_radius($btn_border_radius);
}

/* custom upload*/
.inputfile {
  display: none !important;
}
.custom-file-upload {
  border: 1px solid $brand;
  color: $brand;
  display: inline-block;
  padding: 8px 20px;
  cursor: pointer;
  @include border_radius(25px);
  &:hover{
    color: #fff;
    background: $brand;
  }
}


.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group > input,
.form-label-group > label {
  height: 3.125rem;
  padding: .75rem;
}

.form-label-group > label {
  position: absolute;
  top: 12px;
  left: 14px;
  display: block;
  width: auto;
  height: 20px;
  padding: 0px 3px;
  margin-bottom: 0; /* Override default `<label>` margin */
  background-color: #FFFFFF;
  color: #495057;
  pointer-events: none;
  cursor: text; /* Match the input under the label */
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.b0 {
  border: 0px !important;
  outline: none;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: .25rem;
  padding-bottom: .25rem;
  font-size: 14px;
  top: -13px;
  // color: #777;
}

/* Fallback for Edge
-------------------------------------------------- */
@supports (-ms-ime-align: auto) {
  .form-label-group > label {
    display: none;
  }
  .form-label-group input::-ms-input-placeholder {
    color: #777;
  }
}

/* Fallback for IE
-------------------------------------------------- */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .form-label-group > label {
    display: none;
  }
  .form-label-group input:-ms-input-placeholder {
    color: #777;
  }
}

.login-form {
  max-width: 40%;
  float: right;
  min-width: 400px;

  @media screen and (max-width: 768px) {
      min-width: 300px;
  }
}

.brand-form {
  .form-control {
    padding: 23px 40px;
    border: 1px;
    border-style: solid;
    border-color: #e8e7ee;
    border-radius: 6px;
    color: #bfbcbb;
    background-color: transparent;

    &:focus {
      border-color: $brand !important;
      outline: 0;
      box-shadow: none;
    }
  }

  .form-label-group > label {
    color: #bfbcbb;
    font-size: 16px;
  }
}

.checkboxless{
  position: relative;
  cursor: pointer;
  i{
    display: none;
    position: absolute;
    background: #fff;
    @include border_radius(100%);
    padding: 2px;
    color: $brand;
    top: 5px;
    right: 5px;
  }
  input[type="radio"]{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    &:checked{
      ~.checkmark {
        color: $brand;
        i {
          display: block;
        }
      }
    }
  }
}

.arrangements{
  margin-bottom: 15px;
  label{
    height: 25px;
    width: 25px;
    text-align: center;
    margin: 12px 20px 0 0;
    img{
      height: 100%;
    }
  }
}

.registration{
  label{
    color: $gray_light;
  }
  .form-label-group input:not(:placeholder-shown) ~ label{
    color: $text-color;
  }
}
