.hero {
    background-image: url('../images/brand.jpg');
    background-repeat: no-repeat;
    background-position: top left;
    min-height: 60vh;
    background-size: auto 100%;
    &:after{
        content: "Under Construction";
        position: absolute;
        top: 200px;
        left: 190px;
        color: #ffffff;
        transform: rotate(-16deg);
        text-shadow: 0 0 10px #868686;
        font-size: 38px;
    }
}

.line {
    background: #ebeaef;
    width: 1px;
    margin: 0px 25px;
    height: 100%;
    min-height: 50px;
}


.height-50 {
    line-height: 57px;
    height: 50px;
}
