.icon {
    width: 27px;
    height: 27px;
    background-size: contain;
    display: inline-block;
    position: relative;
    background-repeat: no-repeat;
}

.icon-board {
    background-image: url('/images/icons/board.svg');
}

.icon-calendar {
    background-image: url('/images/icons/calendar.svg');
}

.icon-capacity {
    background-image: url('/images/icons/capacity.svg');
}

.icon-cbreak-cookies {
    background-image: url('/images/icons/cbreak_cookies.svg');
}

.icon-cbreak-sandwich {
    background-image: url('/images/icons/cbreak_sandwich.svg');
}

.icon-checked {
    background-image: url('/images/icons/checked.svg');
}

.icon-city {
    background-image: url('/images/icons/city.svg');
}

.icon-coffee {
    background-image: url('/images/icons/coffee.svg');
}

.icon-drop {
    background-image: url('/images/icons/drop.svg');
}

.icon-favorite {
    background-image: url('/images/icons/favorite.svg');
}

.icon-find-plus.png {
    background-image: url('/images/icons/find_plus.png.svg');
}

.icon-headphone {
    background-image: url('/images/icons/headphone.svg');
}

.icon-interpretation-booth {
    background-image: url('/images/icons/interpretation_booth.svg');
}

.icon-interpreter {
    background-image: url('/images/icons/interpreter.svg');
}

.icon-laptop {
    background-image: url('/images/icons/laptop.svg');
}

.icon-lunch-buffet {
    background-image: url('/images/icons/lunch_buffet.svg');
}

.icon-lunch-diverse {
    background-image: url('/images/icons/lunch_diverse.svg');
}

.icon-lunch-light {
    background-image: url('/images/icons/lunch_light.svg');
}

.icon-map {
    background-image: url('/images/icons/map.svg');
}

.icon-mic {
    background-image: url('/images/icons/mic.svg');
}

.icon-mic-wearable {
    background-image: url('/images/icons/mic_wearable.svg');
}

.icon-mic-wifi {
    background-image: url('/images/icons/mic_wifi.svg');
}

.icon-notebook {
    background-image: url('/images/icons/notebook.svg');
}

.icon-parking {
    background-image: url('/images/icons/parking.svg');
}

.icon-pen {
    background-image: url('/images/icons/pen.svg');
}

.icon-pencil {
    background-image: url('/images/icons/pencil.svg');
}

.icon-pin {
    background-image: url('/images/icons/pin.svg');
}

.icon-podium {
    background-image: url('/images/icons/podium.svg');
}

.icon-profile {
    background-image: url('/images/icons/profile.svg');
}

.icon-projector {
    background-image: url('/images/icons/projector.svg');
}

.icon-review {
    background-image: url('/images/icons/review.svg');
}

.icon-search {
    background-image: url('/images/icons/search.svg');
}

.icon-send.png {
    background-image: url('/images/icons/send.png.svg');
}

.icon-tv {
    background-image: url('/images/icons/tv.svg');
}

.icon-wifi {
    background-image: url('/images/icons/wifi.svg');
}

.icon-water {
    background-image: url('/images/icons/water.svg');
}

