.hotel {
  border-radius: 10px;
  overflow: hidden;

  img {
    width: 100%;
    object-fit: cover;
    height: 200px;
  }

  &-content {
    background-color: #fff;
    padding: 20px 35px;
    display: block;

    button {
      color: $brand;
      border: 1px solid $brand;
      padding: 16px 0px;
      text-align: center;
      width: 80%;
      margin-left: 10%;
      border-radius: 26px;
      font-size: 16px;
      transition: all 0.3s ease;

      &:hover {
        background-color: $brand;
        color: #fff;
      }

    }

    .favorite{
      i{
        color: $brand;
      }
      margin-top: 10px;
      width: 30px;
      height: 30px;
      line-height: 32px;
      text-align: center;
      @include border_radius(100%);
      background: $brand_light;
      &:hover{
        background: $brand;
        i{
          color: $brand_light;
        }
      }
    }
    .favorite_active{
      background: $brand;
      i{
        color: $brand_light;
      }
    }

    .capacity {
      i {
        margin: 3px 10px 0 0;
        width: 20px;
        height: 20px;
        float: left;
      }
      color: #5e5c71;
      display: block;
      margin-bottom: 20px;
      margin-top: 15px;
    }

    p {
      color: #5e5c71;
      font-size: 20px;
      margin-bottom: 10px;
      font-weight: bold;
    }

    .price {
      color: #bebbce;
      margin: 0px;

      span {
        font-size: 20px;
        position: relative;
      }
    }
  }
}

.separator {
  background-color: #e8e7ee;
  width: 2px;
  height: 50px;
  margin-left: 30px;
  margin-right: 30px;
  position: relative;
  top: 3px;
}

.single-room {
  h1 {
    color: #4a4544;
    font-size: 30px;
    margin-bottom: 0px;
  }

  .cat {
    border: 0px;
    font-size: 14px;
    background-color: #f1f1f1;
    border-radius: 24px;
    color: #4a4544;
    padding: 11px 27px;
    margin-right: 15px;
  }

  .fa-star {
    color: #f94a3d;
    margin-right: 5px;
  }

  .dollar,
  .price-text,
  .price {
    color: #5e5c71;
  }

  .dollar {
    position: relative;
    top: -8px;
    font-size: 12px;
    font-weight: 900;
  }

  .persons {
    color: black;
    margin-top: 6px;
  }

  .room-text {
    color: #bebbce;
  }

  h3 {
    color: #4a4544;
    font-size: 22px;
  }

  .features-list {
    color: #4a4544;
    vertical-align: top;
    .icon_desc{
      display: inline-block;
      vertical-align: top;
      .small{
        display: inline-block;
        clear: both;
      }
    }
    input[type="number"]{
      width: 60px;
      color: $text-color;
      padding: 3px;
      border: 1px solid $input_border_color;
      border-radius: $input_border_radius;
    }
  }

  .single-review {
    p {
      margin: 10px 0px 0px 20px;
    }

    .author {
      color: #4a4544;
      padding-right: 10px;
    }

    .time {
      font-size: 14px;
      color: #bebbce;
    }
  }

  .stars {
    margin-top: 10px;
  }
  .fa-star-half {
    color: #f4e0df;
  }

  .order_days{
    display: block;
    color: $text-color
  }
}

.slider {
  .slider-active {
    width: calc(80% - 10px);
    margin-right: 10px;
    float: left;
    position: relative;

    #main_img{
      width: 100%;
      height: 600px;
      background-position: center center;
      background-size: cover
    }

    img {
      width: 100%;
      object-fit: cover;
      height: 600px;
    }
  }

  .slider-thumbs {
    width: 20%;
    float: left;
    overflow: hidden;
    height: 600px;
    position: relative;

    .more_images{
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 143px;
      text-align: center;
      padding-top: 40px;
      background: #000;
      opacity: 0.6;
      line-height: 35px;
      color: #fff;
      cursor: pointer;
    }

    a {
      display: block;
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0px;
      }
    }

    img {
      width: 100%;
      height: 143px;
      display: block;
      margin-bottom: 10px;
      cursor: pointer;

      &:last-child {
        margin-bottom: 0px;
      }
    }
  }
  .loading{
    display: none;
    background: #fff;
    opacity: 0.4;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
  }
}

.my-offers{
  .slider-thumbs{
    height: 430px !important;
    overflow-y: auto;
    div{
      position: relative;
      .delete_image{
        position: absolute;
        top: 0;
        right: 0;
        background: #fff;
        padding: 2px 4px;
      }
    }
    img{
      height: 100px;
    }
  }
  #main_img{
    height: 430px !important;
    .set_main_img {
      background: #fff;
      padding: 4px 10px;
      position: absolute;
      top: 10px;
      left: 10px;
      opacity: 0.8;
      border-radius: 25px;
      cursor: pointer;
      &:hover{
        opacity: 1;
      }
    }
  }
}

.room-content {
  background-color: #fff;
  padding: 30px;
  border-radius: 6px;
  .days{
    a{
      display: block;
      color: $text-color;
    }
  }
  .day-active{
    background: $brand;
    border-color: $brand !important;
    color: #fff;
    a{
      color: #fff;
    }
  }
}

.room-sidebar {
  input[type="text"] {
    display: block;
    margin-bottom: 20px;
    border: 1px solid #e8e7ee;
    padding: 15px 27px;
    color: #b4b3bd;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 6px;
    background-color: #fff;
    width: 100%;
    outline: none !important;
  }
  p {
    color: #bbb5c2;
  }

  select {
    display: block;
    margin-bottom: 20px;
    border: 1px solid #e8e7ee;
    padding: 15px 27px;
    color: #b4b3bd;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 6px;
    background-color: #fff;
    background-image: url('/images/arrow.png');
    background-repeat: no-repeat;
    background-position: right 20px top 22px;
    width: 100%;
    outline: none !important;
  }

  label {
    display: block;
    margin-bottom: 20px;
    color: #4a4544;
    font-weight: bold;
    cursor: pointer;

    input {
      margin-right: 20px;
    }
  }

  button {
    display: block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    width: 100%;
    outline: none;
    border: 0px;
  }

  .guests {
    div {
      span {
        display: inline-block;
        height: 30px;
        width: 30px;
        line-height: 30px;
        text-align: center;

        &:nth-child(1) {
          cursor: pointer;
          background-color: #f1f1f1;
          border-radius: 50%;
          color: #5a5655;
        }

        &:nth-child(3) {
          background-color: #faedeb;
          color: $brand;
          cursor: pointer;
          border-radius: 50%;
        }
      }
      input[type="text"] {
        display: inline-block;
        height: 30px;
        width: 60px !important;
        line-height: 30px;
        text-align: center !important;
        padding: 0;
        border: none;
      }
    }
  }
}

.search_bar, .filter-container {
  .icon{
    float: left;
    margin-top: 10px;
  }
  input, select{
    float: left;
    border: none;
    color: $gray_light;
    -moz-appearance: none;
    -webkit-appearance: none;
    display: inline-block;
    outline: none !important;
    width: auto;
  }

  input{
    height: 50px;
    line-height: 50px;
    &::placeholder{
      opacity: 0.5;
    }
  }

  select {
    margin-bottom: 20px;
    height: 50px;
    line-height: 50px;
    padding: 0 15px;
    border-radius: 6px;
    background-color: #fff;
    background-image: url("/images/arrow.png");
    background-repeat: no-repeat;
    background-position: right 5px top 20px;
  }
}

.home-page{
  .search_bar{
    @include box_shadow();
  }
}

.room-contact {
  button {
    display: block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #f94a3d;
    width: 100%;
    outline: none;
    background-color: #fff;
    border: 1px solid #f94a3d;
  }
}

.orders{
  order{
    border-bottom: 1px solid $gray_light;
  }
  p{
    margin-bottom: 7px;
  }
}

.add-offer{
  padding: 30px;
  .item{
    &:hover{
      @include box_shadow();
      .item-title{
        color: $brand;
      }
    }
    .item-content{
      height: 80px;
      padding: 0;
      text-align: center;
    }
    img{
      height: 140px;
    }
  }
  input[type="text"]{
    height: 45px;
    line-height: 45px;
  }
}
