body {
    color: $text-color;
    background-color: $body_background; //#fbfbfc;
}
header {
    //position: fixed;
    //top: 0;
    //left: 0;
    width: 100%;
    z-index: 2;

    &.scroll {
        //background-color: #f3f3f3;
    }

    .logo {
        color: $white;
        font-size: 30px;
        margin-top: 5px;
        display: inline-block;
        img{
            height: 30px
        }
    }

    .favorites{
        margin-right: 0 !important;
        &.show{
            i {
                background: $brand !important;
                color: #fff !important;
                @include box_shadow(3px, $brand);
            }
        }
        .dropdown-toggle {
            border-radius: 100%;
            &::after {
                display: none;
            }
            i {
                background: $brand_light;
                padding: 12px;
                border-radius: 100%;
                color: $brand;
                cursor: pointer;
            }
        }
        .dropdown-menu{
            width: 350px;
            margin-left: -130px;
            &::after{
                left: 139px;
            }
            &::before{
                left: 140px;
            }
            .thumb{
                width: 80px;
                height: 80px;
                background-size: cover;
                background-position: center center;
            }
        }
    }

    .dropdown-menu{
        margin-top: 16px;
        border: 1px solid $border;
        @include box_shadow();
        &::after{
            position: absolute;
            content: ' ';
            top: -13px;
            left: 79px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 11px 14px 11px;
            border-color: transparent transparent $border transparent;
            z-index: 1;
        }
        &::before{
            position: absolute;
            content: ' ';
            top: -12px;
            left: 80px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 10px 13px 10px;
            border-color: transparent transparent #ffffff transparent;
            z-index: 2;
        }
    }

    .menu a, .menu .dropdown {
        color: #9e9998;
        font-size: 16px;
        padding: 5px 0;
        margin: 0px 10px;
        display: inline-block;

        button{
            display: block;
            background-color: $brand_light;
            color: $brand;
            padding: 10px 25px;
            margin-right: 0px;
            box-shadow: none;
        }

        &.login {
            background-color: $brand_light;
            color: #f94a3d;
            @include border_radius($btn_border_radius);
            padding: 15px 40px;
            margin-right: 0px;

            img {
                margin-left: 11px;
                margin-top: -2px;
            }
        }
        &.show{
            button{
                background-color: $brand;
                color: #fff;
                @include box_shadow(3px, $brand);
            }
        }
    }
    .menu_mobile{
        display: none;
    }

    .change_lang{
        padding: 0 !important;
        margin: 0 !important;
        &>div{
            min-width: auto;
        }
        a{
            margin: 0 !important;
        }
    }

    .cart{
        display: inline-block;
        color: $brand !important;
        padding: 8px !important;
        margin: 0 0 0 5px !important;
    }
}

.footer {
    form {
        max-width: 350px;
        outline: none;
        overflow: hidden;

        button {
            position: relative;
            float: right;
            outline: none;
            border: 1px solid $brand_light;
            padding: 0 20px;
            height: 60px;
            line-height: 60px;
            margin-left: -5px;
            background: $brand_light;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-top-right-radius: 16px;
            border-bottom-right-radius: 16px;
        }

        input {
            outline: none;
            border: none;
            background: transparent;
            height: 100%;
            border-top-left-radius: 16px;
            border-bottom-left-radius: 16px;
            display: inline-block;
            width: calc(100% - 60px);
            height: 60px;
            line-height: 60px;
            padding: 0 5px 0 20px;
            color: #bbb5c2;
        }
    }

    .footer-line {
        margin-top: 50px;
        margin-bottom: 30px;
        background: #e5e5e5;
        height: 1px;
        width: 100%;
    }

    .footer-menu {
        list-style: none;

        a {
            color: #6d6160;
            font-size: 16px;
            display: inline-block;
            margin-bottom: 10px;
        }
    }

    .footer-bottom {
        padding-bottom: 40px;

        span {
            color: #bbb5c2;
        }

        a {
            text-decoration: none;
            color: #bbb5c2;
            margin-right: 50px;

            i {
                margin-right: 10px;
            }
        }
    }
}

#breadcrumb{
    margin: 20px 0;
    overflow: hidden;
    a{
        color: $text-color;
        &:hover{
            color: $brand;
        }
    }
    i{
        color: $text-color;
        margin: 0 10px;
    }
}

.nav-tabs {
    a{
        color: $text-color;
    }
    .nav-link.active {
        color: $brand;
    }
}

.alert{
    ul{
        margin-bottom: 0;
    }
}

.orders_calendar{
    border: 1px solid $input_border_color;
    padding-top: 30px;
    &>div {
        margin: 0;

        & > div {
            border-collapse: collapse;
            padding: 0;
        }

        .offers {
            border-right: 1px solid $input_border_color;
            border-bottom: 1px solid $input_border_color;
            text-indent: 5px;
            line-height: 50px;
        }

        .days {
            border: 1px solid $input_border_color;
            border-left: none;
            position: relative;
            text-indent: 3px;
            width: 10%;
            float: left;
            height: 100%;

            .month {
                position: absolute;
                height: 30px;
                top: -30px;
                left: -1px;
                border-left: 1px solid $input_border_color;
            }
        }
    }
    .orders{
        &>div{
            height: 50px;
        }
        .days{
            font-size: 12px;
            border-left: none;
            border-top: none;
        }
        .order{
            height: 20px;
            position: absolute;
            z-index: 2;
            margin-left: 2%;
            left: 0;
        }
        // morning
        .order_1{
            bottom: 2px;
        }
        // evening
        .order_2{
            top: 2px;
        }
        .paid_0{
            border: 1px solid rgba(220, 53, 69, 1);
            color: rgba(220, 53, 69, 1);
            background: rgba(220, 53, 69, 0.2);
        }
        .paid_1{
            border: 1px solid rgba(40, 167, 69, 1);
            color: rgba(40, 167, 69, 1);
            background: rgba(40, 167, 69, 0.2);
        }
    }
}

.navbar-nav {
    .nav-item {
        width: 100px;
        text-align: center;
        font-size: 18px;
    }
    .active {
        background-color: transparent;
        a {
            font-weight: bold;
        }
    }
}
