.visible-xs-block,
.visible-xs {
    display: none;
}

@media screen and (max-width: 1450px) {
    .hero {
        min-height: 50vh;
    }
}

@media screen and (max-width: 992px) {
    body .hidden-xs {
        display: none !important;
    }

    body .visible-xs {
        display: inline-block;
    }

    body .visible-xs-block {
        display: block;
    }

    header {
        position: absolute;
    }

    .home-desc {
        color: #fff;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 0px;
    }

    .hero {
        height: 260px;
        min-height: 260px;
        padding-top: 20px !important;
    }

    .home-form-container {
        margin-top: 52px;
        margin-bottom: 0px;

        .height-50 {
            line-height: 46px;
            height: 35px;
            width: 100%;
        }

        form {
            padding: 5px 20px;
            border-radius: 22px;
        }

        input {
            height: 35px;
            float: left;
        }

        i {
            margin-top: 4px;
            float: right;
            font-size: 25px;
        }
    }

    .logo-mobile {
        width: 35px;
        margin: 0px auto;

        img {
            width: 100%;
        }
    }

    header .menu a.login {
        float: left;
        padding: 5px 8px;
        position: relative;
        top: -39px;

        img {
            margin: 0px;
        }
    }

    .headline-home {
        color: #fff;
        text-align: center;
        padding-top: 70px;
        font-size: 30px;
    }

    .categories {
        .col-lg-4 {
            margin-bottom: 20px;

            img {
                width: 40%;
                height: 140px;
                float: left;
            }

            .item-content {
                padding: 10px 20px;
                float: left;
                width: 60%;

                * {
                    width: 100% !important;
                }

                h6 {
                    font-size: 20px;
                    padding-bottom: 5px;
                }
            }
        }
    }

    .home-works .item {
        text-align: center;
    }

    .footer-menu {
        margin: 15px 0px;
        padding: 0px 10px;
    }

    .footer .footer-bottom span,
    .footer .footer-bottom a {
        display: block;
        text-align: center;
        margin: 2px 0px;
        float: none !important;
    }
}

/* mobile */
@media screen and (max-width: 700px) {
    #header{
        height: 80px;
    }

    .logo {
        position: absolute;
        top: 10px;
        left: calc(50% - 15px);
    }
    .menu {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        & > .menu_items {
            display: none !important;
        }
        & > i {
            margin: 10px 0 0 20px;
        }
        .login {
            position: absolute !important;
            top: 10px !important;
            right: 20px;
        }
    }
    .menu_mobile {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        padding-right: 40px;
        background: rgba(0, 0, 0, 0.75);
        height: 100%;
        width: 100%;
        z-index: 999;
        .menu_items {
            position: fixed;
            top: 0;
            left: 0;
            padding-top: 40px;
            height: 100%;
            width: 90%;
            background: #ffffff;
            & > i {
                position: absolute;
                right: 20px;
                top: 20px;
            }
            h3 {
                margin-left: 40px;
            }
            a {
                display: block;
                padding: 15px 0 10px 30px;
                margin: 0 30px 0 0;
                &:hover {
                    background: $brand_light;
                    color: $brand;
                }
            }
        }

        .change_lang{
            position: fixed;
            bottom: 20px;
            left: 30px
        }
    }

    .search_box {
        margin: 80px auto 15px auto;
        width: 95%;
        overflow: hidden;
        #search_form {
            & > div {
                padding: 0;
                input {
                    width: 100%;
                }
            }
            button {
                margin: 0 auto;
            }
        }
    }

    .home-page {
        .hero {
            background-image: url('../images/brand_mobile.jpg');
            background-repeat: no-repeat;
            background-position: top left;
            background-size: cover;
            height: 180px;
        }

        .search_box {
            margin: 17px auto;
            @include border_radius(10px);
            @include box_shadow(10px);
        }

        .categories {
            margin-top: 100px;
        }

        .item {
            text-align: center;
        }
    }

    .text_main{
        padding-top: 20px;
    }

    .auth_user{
        float: right;
        padding-right: 0 !important;
        button{
            padding: 7px !important;
        }
    }

    /* offer details */
    .slider {
        #main_img{
            height: 300px !important;
        }
        .slider-active {
            width: 100% !important;
        }
    }
}
