
.clearfix { clear: both; display: block; }

/* bootstrap d-none alternative, old style. that's the reason !important is used */
.hidden { display: none !important; }

.brand {
  color: $brand !important;
}

.brand-bg {
  background-color: $brand;
}

.brand-bg-light {
  background-color: $brand_light;
}

.bg-white {
  background-color: #fff;
}

.border-r {
  border-radius: 6px;
}

.transparent {
  background-color: transparent;
}

.flex {
  display: flex;

  .flex-item {
    flex: 1;
  }
}

@mixin box_shadow($shadow_size: 5px, $bg_color: #CCC9C9){
  box-shadow: 0 0 $shadow_size $bg_color;
}

//**** borders
.b{
  &-t-1 {
    border-top: 1px solid;
  }
  &-r-1{
    border-right: 1px solid;
  }
  &-b-1{
    border-bottom: 1px solid;
  }
  &-l-1{
    border-left: 1px solid;
  }
}
.border-gray{
  border-color: #e3e3e3;
}

.w-20 { width: 20%; }
.w-25 { width: 25%; }
.w-33 { width: 33.33333333%; }
.w-44 { width: 44.44444444%; }
.w-50 { width: 50%; }
.w-56 { width: 56%; }
.w-60 { width: 60%; }
.w-66 { width: 66%; }
.w-75 { width: 75%; }
.w-80 { width: 80%; }
.w-100 { width: 100%; }
.w-auto { width: auto; }

@each $px in 10 16 20 25 30 32 40 50 60 64 70 75 80 100 150 200 {
  .w-#{$px}px{ width: #{$px}px; }
}

.rel { position: relative; }

.pointer {
  cursor: pointer;
}

.block {display: block;}
.inline {display: inline};
.inline-block {display: inline};

$h-opts: 25 30 40 50 75 100;
/* without e.g. 30 *1%, sass fails (no interpolation with percent sign) */
@each $h-opt in $h-opts {
  .h-#{$h-opt} {
  height: #{$h-opt * 1%};
}
  .h-#{$h-opt}px {
    height: #{$h-opt * 1px};
  }
  .min-h-#{$h-opt} {
    min-height: #{$h-opt * 1%};
    /* the parent tag has flex column dir; see .inner-content-content > * */
    .inner-content-content > & {
      /* flex: 1; would set flex-shrink to 1 */
      flex-grow: 1; flex-shrink: 0;
    }
  }
  .min-h-#{$h-opt}vh {
    min-height: #{$h-opt * 1vh};
  }
}

.h-100p-minus-50 { height: calc(100% - 50px); }

.overflow-hidden { overflow: hidden; }
.overflow-y-auto { overflow-y: auto; }
.overflow-y-scroll { overflow-y: scroll; }
.overflow-x-auto { overflow-x: auto; }
.overflow-x-scroll { overflow-x: scroll; }

.text-ellipsis {
  overflow: hidden; white-space: nowrap; text-overflow: ellipsis;
}

.ws-now { white-space: nowrap; }

.wsn, .w-s-n { white-space: nowrap; }
.w-s-normal { white-space: normal; }

.w-b-b-a { word-break: break-all; }

.cu-d { cursor: default; }
.cu-p { cursor: pointer; }

.p-e-n, .pen { pointer-events: none; }
.p-e-a, .pea { pointer-events: all; }

.b-r-50 { border-radius: 50%; }
@for $br-size from 2 through 8 {
  .b-r-#{$br-size} { border-radius: #{$br-size}px; }
}

.rotate-minus-90 { transform: rotate(-90deg); }
.rotate-minus-45 { transform: rotate(-45deg); }
.rotate-45 { transform: rotate(45deg); }
.rotate-90 { transform: rotate(90deg); }
.rotate-180 { transform: rotate(180deg); }
.rotate-270 { transform: rotate(270deg); }

.flex-wrap { flex-wrap: wrap; }

/* instead of this hack, made default active tab display: flex; flex-direction: column; */
/*.tab-content>.active {
    &.flex-apart, &.flex-apart-flex-start, &.flex-apart-flex-end, &.flex-apart-stretch, &.flex-center, &.inline-flex-center, &.flex-wrap { display: flex; }
}*/

$flex-directions-v: (
  center: center,
  top: flex-start,
  bottom: flex-end,
  stretch: stretch,
  spacebetween: space-between,
  spacearound: space-around,
);
$flex-directions-h: (
  center: center,
  left: flex-start,
  right: flex-end,
  stretch: stretch,
  spacebetween: space-between,
  spacearound: space-around,
);
/* generates e.g. .flex-right-bottom that aligns contents that way using flexbox */
@each $flex-dir-v-name, $flex-dir-v in $flex-directions-v {
  @each $flex-dir-h-name, $flex-dir-h in $flex-directions-h {
    .flex-#{$flex-dir-h-name}-#{$flex-dir-v-name}, .flex-col-#{$flex-dir-h-name}-#{$flex-dir-v-name} {
    display: flex; flex-direction: column;
    justify-content: #{$flex-dir-v}; align-items: #{$flex-dir-h};
  }
    .flex-row-#{$flex-dir-h-name}-#{$flex-dir-v-name} {
      display: flex; flex-direction: row;
      justify-content: #{$flex-dir-h}; align-items: #{$flex-dir-v};
    }
  }
}

.flex-0 { flex: 0; }
.flex-1 { flex: 1; }

.flex-shrink-0 { flex-shrink: 0; }
.flex-shrink-1 { flex-shrink: 1; }

.flex-grow-0 { flex-grow: 0; }
.flex-grow-1 { flex-grow: 1; }


$op-gen-list: 0 5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100;
@each $op-gen in $op-gen-list {
  .op-#{$op-gen} { opacity: #{$op-gen/100}; }
}

.db, .d-b { display: block; }
.dib, .d-i-b { display: inline-block; }
.df, .d-f { display: flex; }
.dif, .d-i-f { display: inline-flex; }
.v-h, .visibility-hidden { visibility: hidden; }
.v-v, .visibility-visible { visibility: visible; }
.f-d-r { flex-direction: row; }
.f-d-c { flex-direction: column; }
.flex-row, .d-f-r { display: flex; flex-direction: row; }
.flex-col, .flex-column, .d-f-c { display: flex; flex-direction: column; }
.j-c-s-b, .justify-content-space-between { justify-content: space-between; }
.j-c-c, .justify-content-center { justify-content: center; }
.j-c-s, .justify-content-stretch { justify-content: stretch; }
.j-c-f-s, .justify-content-flex-start { justify-content: flex-start; }
.j-c-f-e, .justify-content-flex-end { justify-content: flex-end; }
.a-i-c, .align-items-center { align-items: center; }
.a-i-s, .align-items-stretch { align-items: stretch; }
.a-i-f-s, .align-items-flex-start { align-items: flex-start; }
.a-i-f-e, .align-items-flex-end { align-items: flex-end; }
.j-s-c, .justify-self-center { justify-self: center; }
.j-s-s, .justify-self-stretch { justify-self: stretch; }
.j-s-f-s, .justify-self-flex-start { justify-self: flex-start; }
.j-s-f-e, .justify-self-flex-end { justify-self: flex-end; }
.a-s-c, .align-self-center { align-self: center; }
.a-s-s, .align-self-stretch { align-self: stretch; }
.a-s-f-s, .align-self-flex-start { align-self: flex-start; }
.a-s-f-e, .align-self-flex-end { align-self: flex-end; }

.vat, .v-a-t { vertical-align: top; }
.vam, .v-a-m { vertical-align: middle; }

@media (max-width: 767px){
  .text-xs-left { text-align: left; }
  .text-xs-center { text-align: center; }
  .text-xs-right { text-align: right; }
}
@media (min-width: 768px){
  .text-sm-left { text-align: left; }
  .text-sm-center { text-align: center; }
  .text-sm-right { text-align: right; }
}
@media (min-width: 992px){
  .text-md-left { text-align: left; }
  .text-md-center { text-align: center; }
  .text-md-right { text-align: right; }
}
@media (min-width: 1200px){
  .text-lg-left { text-align: left; }
  .text-lg-center { text-align: center; }
  .text-lg-right { text-align: right; }
}
/* place here to allow overriding components (e.g. .box) */
.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }



@mixin non-bold() { font-weight: normal; }
.non-bold { @include non-bold(); }
@mixin bold() { font-weight: bold; }
.bold { @include bold(); }
@mixin underline() { text-decoration: underline; }
.underline { @include underline(); }
@mixin italic() { font-weight: italic; }
.italic { @include italic(); }
@mixin border_radius($size: 5px){
  -webkit-border-radius: $size;
  -moz-border-radius: $size;
  border-radius: $size;
}

.underline-border {
  /* inherit border-bottom-color from color: attribute */
  border-bottom-width: 1px; border-bottom-style: solid;
}

.tt-up, .tt-uppercase { text-transform: uppercase; }
.tt-cap, .tt-capitalize { text-transform: capitalize; }
.tt-normal { text-transform: none; }

.lh-100 { line-height: 100%; }
.lh-120 { line-height: 120%; }
.lh-150 { line-height: 150%; }
.lh-200 { line-height: 200%; }

.m-auto { margin: auto; }
.m-t-auto { margin-top: auto; }
.m-b-auto { margin-bottom: auto; }
.m-r-auto { margin-right: auto; }
.m-l-auto { margin-left: auto; }

$margin-gen-list: 0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100 120 150 200;
@each $margin-gen in $margin-gen-list {
  .m-#{$margin-gen} { margin: #{$margin-gen}px; }
  .m-t-#{$margin-gen} { margin-top: #{$margin-gen}px; }
  .m-b-#{$margin-gen} { margin-bottom: #{$margin-gen}px; }
  .m-r-#{$margin-gen} { margin-right: #{$margin-gen}px; }
  .m-l-#{$margin-gen} { margin-left: #{$margin-gen}px; }
  .p-#{$margin-gen} { padding: #{$margin-gen}px; }
  .p-t-#{$margin-gen} { padding-top: #{$margin-gen}px; }
  .p-b-#{$margin-gen} { padding-bottom: #{$margin-gen}px; }
  .p-r-#{$margin-gen} { padding-right: #{$margin-gen}px; }
  .p-l-#{$margin-gen} { padding-left: #{$margin-gen}px; }
}
/* separate responsive classes to avoid css priority issues */
@each $margin-gen in $margin-gen-list {
  @media (max-width: 767px){
    .m-xs-#{$margin-gen} { margin: #{$margin-gen}px; }
    .m-t-xs-#{$margin-gen} { margin-top: #{$margin-gen}px; }
    .m-b-xs-#{$margin-gen} { margin-bottom: #{$margin-gen}px; }
    .m-r-xs-#{$margin-gen} { margin-right: #{$margin-gen}px; }
    .m-l-xs-#{$margin-gen} { margin-left: #{$margin-gen}px; }
    .p-xs-#{$margin-gen} { padding: #{$margin-gen}px; }
    .p-t-xs-#{$margin-gen} { padding-top: #{$margin-gen}px; }
    .p-b-xs-#{$margin-gen} { padding-bottom: #{$margin-gen}px; }
    .p-r-xs-#{$margin-gen} { padding-right: #{$margin-gen}px; }
    .p-l-xs-#{$margin-gen} { padding-left: #{$margin-gen}px; }
  }
}
@each $margin-gen in $margin-gen-list {
  @media (min-width: 768px){
    .m-sm-#{$margin-gen} { margin: #{$margin-gen}px; }
    .m-t-sm-#{$margin-gen} { margin-top: #{$margin-gen}px; }
    .m-b-sm-#{$margin-gen} { margin-bottom: #{$margin-gen}px; }
    .m-r-sm-#{$margin-gen} { margin-right: #{$margin-gen}px; }
    .m-l-sm-#{$margin-gen} { margin-left: #{$margin-gen}px; }
    .p-sm-#{$margin-gen} { padding: #{$margin-gen}px; }
    .p-t-sm-#{$margin-gen} { padding-top: #{$margin-gen}px; }
    .p-b-sm-#{$margin-gen} { padding-bottom: #{$margin-gen}px; }
    .p-r-sm-#{$margin-gen} { padding-right: #{$margin-gen}px; }
    .p-l-sm-#{$margin-gen} { padding-left: #{$margin-gen}px; }
  }
}
@each $margin-gen in $margin-gen-list {
  @media (min-width: 992px){
    .m-md-#{$margin-gen} { margin: #{$margin-gen}px; }
    .m-t-md-#{$margin-gen} { margin-top: #{$margin-gen}px; }
    .m-b-md-#{$margin-gen} { margin-bottom: #{$margin-gen}px; }
    .m-r-md-#{$margin-gen} { margin-right: #{$margin-gen}px; }
    .m-l-md-#{$margin-gen} { margin-left: #{$margin-gen}px; }
    .p-md-#{$margin-gen} { padding: #{$margin-gen}px; }
    .p-t-md-#{$margin-gen} { padding-top: #{$margin-gen}px; }
    .p-b-md-#{$margin-gen} { padding-bottom: #{$margin-gen}px; }
    .p-r-md-#{$margin-gen} { padding-right: #{$margin-gen}px; }
    .p-l-md-#{$margin-gen} { padding-left: #{$margin-gen}px; }
  }
}
@each $margin-gen in $margin-gen-list {
  @media (min-width: 1200px){
    .m-lg-#{$margin-gen} { margin: #{$margin-gen}px; }
    .m-t-lg-#{$margin-gen} { margin-top: #{$margin-gen}px; }
    .m-b-lg-#{$margin-gen} { margin-bottom: #{$margin-gen}px; }
    .m-r-lg-#{$margin-gen} { margin-right: #{$margin-gen}px; }
    .m-l-lg-#{$margin-gen} { margin-left: #{$margin-gen}px; }
    .p-lg-#{$margin-gen} { padding: #{$margin-gen}px; }
    .p-t-lg-#{$margin-gen} { padding-top: #{$margin-gen}px; }
    .p-b-lg-#{$margin-gen} { padding-bottom: #{$margin-gen}px; }
    .p-r-lg-#{$margin-gen} { padding-right: #{$margin-gen}px; }
    .p-l-lg-#{$margin-gen} { padding-left: #{$margin-gen}px; }
  }
}
