a {
    text-decoration: none !important;
}

.socials-login-container {
    font-size: 12px;

    .btn {
        padding: 12px 28px;
        font-size: 12px;
    }
}

select {
    display: block;
    /*margin-bottom: 20px;*/
    border: 1px solid #ced4da;
    padding: 12px 12px;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 6px;
    background-color: #fff;
    background-image: url('/images/arrow.png');
    background-repeat: no-repeat;
    background-position: right 6px center;
    width: 100%;
    outline: none !important;
    color: $text-color;

    &.is-invalid{
        border-color: #dc3545 !important;
    }
}

input, textarea{
    color: $text-color;
}

.page-title {
    font-size: 24px;
    color: #4a4544;
    margin-bottom: 0px;
    font-weight: bold;
    height: 43px;
    line-height: 43px;
}

.filter-page .page-title {
    color: #bbb5c2;
    font-size: 16px;
}

.heder-headline {
    -webkit-box-shadow: 0px 9px 10px 0px rgba(0,0,0,0.13);
    -moz-box-shadow: 0px 9px 10px 0px rgba(0,0,0,0.13);
    box-shadow: 0px 9px 10px 0px rgba(0,0,0,0.13);
}

h4.filter {
    color: #4a4544;
    font-size: 22px;
    margin-bottom: 32px;
}

.sort {
    color: #ccc8d1;
    width: 250px;

    select#sort_by {
        display: inline-block;
        max-width: 120px;
        color: #565150;
        outline: none;
        border: none;
        border-radius: 0;
        background-color: transparent;
        background-position: right 5px top 15px;
        color: $text-color;
        -moz-appearance: none;
        -webkit-appearance: none;
        &:focus{
            border: none;
            @include box_shadow(0);
            background-color: $body_background;
        }
        option{
            background: #fff;
            border: 1px solid red;
            outline:0px;
            color: $text-color
        }
    }
}

.filter-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;

    label {
        font-size: 16px;
        color: #bbb5c2;
        margin-bottom: 10px;
        display: block;
    }
}
