.clearfix-10 {
  clear: both;
  overflow: hidden;
  height: 10px;
}

.clearfix-20 {
  clear: both;
  overflow: hidden;
  height: 20px;
}

.errors, .ok_message {
  display: none;
}

.fa-trash,
.fa-trash-alt{
  cursor: pointer;
  display: inline-block;
  color: $color_decline;
}

.disabled{
  opacity: 0.5;
  cursor: not-allowed !important;
  pointer-events: none !important;
  &:hover{
    pointer-events: none !important;
  }
}

.fa-check{
  color: $color_accept
}
.fa-ban{
  color: $color_decline
}

.btn-success{
  .fa{
    color: #fff;
  }
}

.pointer{
  cursor: pointer;
}

.disable_text_select{
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
}

.text_main {
  position: relative;
  border: 1px solid transparent;
  .edit_text {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px 10px;
    background: #fff;
    @include box_shadow();
    z-index: 999;
    i {
      color: $brand !important;
    }
  }
}

.mobile{
  display: none !important;
}

@media (max-width: 700px) {
  .no_mobile{
    display: none !important;
  }
  .mobile{
    display: block !important;
  }
}

.ui-datepicker {
  z-index: 9999 !important
}

@media print {
  .page-break {
    display: block;
    page-break-before: always;
  }

  @page {
    size: auto;
    margin: 0;
  }

  body {
    margin: 0px 1cm;
    background: #fff;
  }

  .noprint {
    display: none !important;
  }

}
