<div class="clearfix-10"></div>

<div class="container-fluid">
	<div class="page_body" style="padding: 40px;">
		<?= $Router->load_module_content_with_parameters(); ?>
	</div>
</div>


<div class="clearfix-20"></div>
<footer class="container"></footer>
